@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");

h1 {
    font-family: "Poppins", sans-serif;
}

* {
    font-family: "Roboto", sans-serif;
}

html,
body {
    margin: 0;
}

img.blob1 {
    width: 160px;
    position: absolute;
    z-index: -2;
    top: 0;
    bottom: 190px;
    margin: auto;
}

img.blob2 {
    height: 400px;
    position: absolute;
    z-index: -2;
    right: 10px;
}

img.blob3 {
    position: absolute;
    bottom: -70%;
    right: 0;
    z-index: -2;
}
