.AboutMe {
    position: absolute;
    top: 100%;
    height: fit-content;
    width: 100%;
}

.AboutMe_hedder {
    font-size: 32px;
    font-weight: 600;
    margin-left: 10%;
}

img.AboutMe_name {
    position: relative;
    left: 20%;
    margin-top: 30px;
    margin-bottom: 30px;
    width: calc(80% - 30px);
}

.left_alligned_about_me_content {
    position: absolute;
    width: 50%;
    background-color: #e9faf3;
    border-radius: 0px 20px 20px 0px;
    height: fit-content;
    margin: auto;
}

.right_alligned_about_me_content {
    position: relative;
    left: 53%;
    width: 37%;
    line-height: 2.2;
}

div#about_me {
    position: absolute;
    top: calc(100% - 150px);
    width: 100%;
}
